.CardBody {
    border: 2px solid #cccccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background: #FFF0F5;
}

.Card {
    display: flex;
    justify-content: space-between;
}

.Img {
    width: 25%;
}

.Ing {
    width: 30%;
    padding: 15px 5px;
}

.Ing > p {
    margin-bottom: 10px;
    font-weight: bold;
}

.Recipe {
    width: 40%;
    padding: 15px 5px;
}

.Recipe > p {
    margin: 10px 0;
}
.ratingAnd{


}